<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/user/template.css}">
    <title>Empire Sales</title>
</head>
<body>
    <!-- Header -->
    <div class="header" th:replace="/user/template :: header"></div>

    <!-- Top Navigation Bar -->
    <div class="topnav" th:replace="/user/template :: topnav"></div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="sidenav" th:replace="/user/template :: sidenav"></div>

        <div class="content">
            <div class="row">
                <div class="col" th:each="p : ${allProductsList}">
                    <a th:href="@{'/user/product/' + ${p.id}}">
                        <img class="img" th:src="@{'/img/products/' + ${p.imageUrl}}" alt="img">
                        <p class="name" th:text="${p.name}"></p>
                        <p class="price" th:text="'&#8377; ' + ${p.price}"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div th:if="${totalPages > 0}" class="pagination">
        <a th:if="${currentPage != 0}"  th:href="@{'/user/all/'+${currentPage - 1} + '/'}">&laquo;</a>
        <a th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" 
            th:href="@{'/user/all/'+${i-1} + '/'}"><span th:text="${i}"></span></a>
        <a th:if="${currentPage+1 != totalPages}"  th:href="@{'/user/all/' + ${currentPage + 1} + '/'}">&raquo;</a>
    </div>

    <!-- Footer -->
    <div class="footer" th:replace="template :: footer"></div>

    <script src="https://kit.fontawesome.com/75dfcc00f1.js"></script>
    <script th:src="@{/js/user/template.js}"></script>
</body>
</html>