<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/productDetails.css}">
    <link rel="stylesheet" th:href="@{/css/user/template.css}">
    <link rel="stylesheet" th:href="@{/css/user/productDetails.css}">
    <title>Empire Sales</title>
</head>
<body>
    <!-- Header -->
    <div class="header" th:replace="/user/template :: header"></div>

    <!-- Top Navigation Bar -->
    <div class="topnav" th:replace="/user/template :: topnav"></div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="sidenav" th:replace="/user/template :: sidenav"></div>

        <div class="content">
            <div class="container">
                <div class="col-1 col">
                    <img class="main-img" th:src="@{'/img/products/' + ${product.id}}" alr="img">
                </div>
            
                <div class="col-2 col">
                    <p class="name" th:text="${product.name}"></p>

                    <div class="description">
                        <h2>About the product</h2>
                        <p th:text="${product.description}"></p>
                    </div>
                    
                    <p class="price" th:text="'&#8377; ' + ${product.price}"></p>

                    <div class="add-to-cart">
                        <a th:href="@{'/user/add-to-cart/' + ${product.id}}">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer" th:replace="template :: footer"></div>

    <script src="https://kit.fontawesome.com/75dfcc00f1.js"></script>
    <script th:src="@{/js/template.js}"></script>
</body>
</html>