<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/user/template.css}">
    <title>Empire Sales</title>
</head>
<body>
    <!-- Header -->
    <div class="header" th:fragment="header">
        <div class="branding">
            <img th:src="@{/img/logo.png}" alt="img">
            <p>Empire Sales</p>
        </div>

        <div class="navbar">
            <a class="fa-solid fa-cart-shopping" id="cart-btn" th:href="@{/user/cart}"></a>
            <a th:if="${cartItemCount > 0}" class="cart-count" th:text="'(' + ${cartItemCount} + ')'"></a> 

            <p th:text="${username}"></p>

            <form th:action="@{/logout}" method="post">
                <button class="logout" type="submit">Logout</button>
            </form>
        </div>
    </div>

    <!-- Top Navigation Bar -->
    <div class="topnav" id="topnav" th:fragment="topnav">
        <div class="col-1">
            <i class="fa-solid fa-bars hamburger" onclick="toggleSidebar()"></i>

            <li th:classappend="${#request.requestURI.startsWith('/user/all/') ? 'active' : ''}"><a th:href="@{/user/all/0/}">All Categories</a></li>
            <li th:each="c : ${allCategoriesList}" th:classappend="${#request.requestURI.startsWith('/user/' + c.name + '/') ? 'active' : ''}">
                <a th:text="${c.name}" th:href="@{'/user/' + ${c.name} + '/0/'}"></a></li>
        </div>

        <div class="col-2">
            <input onkeyup="showSearchResult()" id="search" class="search" type="text" name="search" placeholder="Search...">
               
            <div id="search-result" class="search-result">
                <!-- <p>Search Result</p> -->
            </div>
        </div>
    </div>

    <!-- Main content -->
    <div class="main-content">
        <div id="sidenav" class="sidenav" th:fragment="sidenav">
            <li class="close" onclick="toggleSidebar()">&times;</li>
            <li th:classappend="${#request.requestURI.startsWith('/user/all/') ? 'active' : ''}"><a th:href="@{/user/all/0/}">All Categories</a></li>
            <li th:each="c : ${allCategoriesList}" th:classappend="${#request.requestURI.startsWith('/user/' + c.name + '/') ? 'active' : ''}">
                <a th:text="${c.name}" th:href="@{'/user/' + ${c.name} + '/0/'}"></a></li>
        </div>

        <div class="content"></div>
    </div>

    <script src="https://kit.fontawesome.com/75dfcc00f1.js"></script>
    <script th:src="@{/js/user/template.js}"></script>
</body>
</html>