* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body a {
    text-decoration: none;
    color: #fff;
}

body a:hover {
    color: #1e90ff;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    border: 1px solid;
    background-color: #333;
    color: #fff;
}

.header .branding {
    display: flex;
    flex-basis: 30%;
    align-items: center;
}

.header .branding img {
    max-width: 70px;
    max-height: 70px;
}

.header .branding p {
    font-weight: bold;
}

.header .col-2 {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-basis: 100%;
    margin-right: 20px;
}

.header .col-2 p {
    margin-right: 20px;
}

.header .col-2 a {
    margin-right: 10px;
}

/* Message */

.message {
    width: 100%;
    text-align: center;
}

.message p {
    padding: 4px;
}

.message .error {
    background-color: #bb1414;
    color: #fff;
}

.message .success {
    background-color: #17aa17;
    color: #fff;
}

/* Content */

.content .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 8px;
}

.content .row .col {
    border: 1px solid;
    /* flex-basis: 33%;
    margin: auto; */
    flex: 1;
}

.content .row .col .logo {
    max-width: 70px;
    max-height: 70px;
    margin-top: 15px;
}

.content .row .col .heading {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
}

.content .row .col .value {
    font-size: 50px;
    margin-bottom: 10px;
}

.content .row .col:hover {
    background-color: #1e90ff;
    color: #fff;
}

.content .row-2 .col-1, .content .row-2 .col-2 {
    cursor: pointer;
}

/* Modals */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#add-category-modal .container,
#add-product-modal .container {
    background-color: #fff;
    border: 1px solid #888;
    padding: 20px;
    margin: auto;
    width: 80%;
}

#add-category-modal .container .heading,
#add-product-modal .container .heading {
    text-align: center;
}

#add-category-modal .container .close,
#add-product-modal .container .close {
    font-weight: bold;
    font-size: 28px;
    color: #888;
    float: right;
}

#add-category-modal .container .close:hover,
#add-product-modal .container .close:hover {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

#add-category-modal .container input[type=text],
#add-category-modal .container .about,
#add-category-modal .container .addbtn,
#add-product-modal .container input[type=text],
#add-product-modal .container input[type=number],
#add-product-modal .container .about,
#add-product-modal .container .addbtn,
#add-product-modal .container .category {
    padding: 14px 16px;
    margin-top: 5px;
    width: 100%;
}

#add-product-modal {
    padding-top: 20px; 
}

#add-product-modal .container .form {
    margin-top: 40px;
}

#add-product-modal .container .image {
    margin-top: 10px;
    margin-bottom: 10px;
}

#add-product-modal .container .form .row {
    align-items: center;
    display: flex;
}

#add-product-modal .container .form .row .col-1 {
    flex-basis: 20%;
}

#add-product-modal .container .form .row .col-2 {
    flex-basis: 80%;
}

/* Media Queries */
@media(max-width: 700px) {
    .header {
        flex-direction: column;
    }

    .header .col {
        width: 100%;
    }

    .header .col-2 {
        /* flex-direction: column; */
        align-items: flex-start;
        justify-content: center;
        margin: auto;
        margin-bottom: 10px;
    }

    .content .row {
        flex-direction: column;
    }

    .content .row .col {
        width: 100%;
    }

    #add-category-modal .container,
    #add-product-modal .container {
        width: 90%;
    }

    #add-product-modal .container .form .row {
        align-items: flex-start;
        flex-direction: column;
    }

    #add-product-modal .container .form .row {
        margin-top: 10px;
    }
    
    #add-product-modal .container .form .row .col-2 {
        margin-top: 10px;
    } 
}