.main-content .content .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.main-content .col {
    flex-basis: 30%;
    height: auto;
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-top: 5px;
    padding: 8px;
}

.main-content .col:hover {
    background-color: #1e90ff;
}

.main-content .row .col .img {
    height: 150px;
    width: 150px;
}

.main-content .row .col .name {
    text-decoration: none;
    color: purple;
    font-weight: bold;
    margin-top: 5px;
    display: block;
}

.main-content .row .col .description {
    margin-top: 5px;
}

.main-content .row .col .price {
    font-weight: bold;
    margin-top: 5px;
}

/* Pagination */
.pagination {
    text-align: center;
	margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
	text-decoration: none;
	color: #000;
	padding: 8px 16px;
}

.pagination a:hover {
	background-color: #1e90ff;
	color: #fff;
}

.pagination a.active {
	background-color: #bb1414;
    color: #fff;
}