.main-content .content {
    max-width: 60%;
    border-radius: 6px;
    background-color: #333;
    margin: auto;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
}

.main-content .content .heading {
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-content .content .heading p {
    margin-top: 5px;
}

/* Error Message */
.main-content .content .error-message {
    width: 90%;
    margin: auto;
    text-align: left;
    color: #e30707;
    margin-bottom: 10px;
}

.main-content .content .error-message .success {
    color: #17aa17;
}

.main-content input[type=text], .main-content input[type=password] {
    border-radius: 6px;
    border: none;
    width: 90%;
    padding: 14px 16px;
    margin-top: 10px;
}

.main-content .content .terms {
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.main-content .content .terms a {
    text-decoration: none;
    color: #1e90ff;
}

.main-content .content .terms a:hover {
    color: #0066b8;
}

.main-content .content button {
    background-color: #0066b8;
    color: #fff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 40%;
    padding: 14px 16px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.main-content .content button:hover {
    background-color: #1e90ff;
}

.main-content .content .login-link {
    margin-bottom: 10px;
}

.main-content .content .login-link a {
    text-decoration: none;
    color: #1e90ff;
}

.main-content .content .login-link a:hover {
    color: #0066b8;
}

@media screen and (max-width: 700px) {
    .main-content .content {
        max-width: 98%;
    }
}