<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Empire Sales</title>
</head>
<body>
    <div class="header" th:replace="template :: header"></div>

    <div class="tonav" th:replace="template :: topnav"></div>

    <div class="main-content">
        <div class="sidenav" th:replace="template :: sidenav"></div>

        <div class="content">
            <div class="row">
                <div class="col" th:each="p : ${allProductsList}">
                    <img class="img" th:src="@{'/img/products/' + ${p.imageUrl}}" alt="img">
                    <a class="name" th:href="@{'/product/' + ${p.id}}" th:text="${p.name}"></a>
                    <p class="price" th:text="'&#8377; ' + ${p.price}"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="pagination">
        <a th:if="${currentPage != 0}"  th:href="@{'/all/'+${currentPage - 1}}">&laquo;</a>
        <a th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" th:href="@{'/all/'+${i-1}}"><span th:text="${i}"></span></a>
        <a th:if="${currentPage+1 != totalPages}"  th:href="@{'/all/'+${currentPage + 1}}">&raquo;</a>
    </div>

    <div class="footer" th:replace="template :: footer"></div>

    <script src="https://kit.fontawesome.com/75dfcc00f1.js"></script>
    <script th:src="@{/js/template.js}"></script>
</body>
</html>